<!DOCTYPE html>
<html>
<head>
<script src="../../assets/javascripts/jquery-2.1.4.min.js"></script>
<script src="../../assets/javascripts/jquery.feeds.min.js"></script>
<script type="text/html" id="entryTmpl">
	<article class="<!=source!> entry">
		<p>
			<a class="link" href="<!=link!>" title="<!=feedDescription!>"><!=contentSnippet!></a>
		</p>
		<div class="publishedDate"><!=publishedDate!></div>
		
		<br />
	</article>
</script>

 
<script>
$(function(){
	$('.feed').feeds({
        feeds : {
		feed1: 'http://www.recruiter.co.uk/expert-advice-how-to.rss'
		},
max:6,
		entryTemplate : 'entryTmpl',
		onComplete : function(entries) {
			$(this).find('a').attr('target', '_blank');
		}
	});
});
</script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#">Startup Community</a>
   </div>
   <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
     <span class ="welcome-back">User:

      <a href="#" class="dropdown-toggle" data-toggle="dropdown"> User <span class="caret"></span></a>
       <ul class="dropdown-menu" role="menu">
        <% if current_user.email == @student.email then %>
          <li><%= link_to "Edit", edit_student_path %>
        <% end %>
        <li><%= link_to "Search Job", jobdemands_searchtop_path %></li>
        <li><a href="#">Language</a></li>
        <% if user_signed_in? %>
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <% end %>
       </ul>

     </span>
    </ul>
   </div>
 </div>
</nav>

<div class="container-fluid">
 </div>
 <div class="row">
  <div class="col-xs-2" style="background:#ffffff; height:400px;">
        <ul class="nav nav-tabs nav-stacked">
          <li class ="active"><h3>&nbsp;Search</strong></li>
          <li><a href="#tabU"> Student</a></li>
          <li><a href="#"> Company</a></li>
          <li><a href="#"> University</a></li>
          <li><%= link_to "Job", jobdemands_searchtop_path %></li>
          <li><a href="#"> Scholarship</a></li>
        </ul>
  </div>        
  <div class="col-xs-10" style="background:#FFFFFF; height:60px;">
            <h3><strong><%= @student.name %></strong></h3>
  </div>
  <div class="col-xs-8" style="background:#ffffff; height:400px;">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">News</a></li>
            <li><a href="#tab2" data-toggle="tab">Information</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
	      <% if current_user.email == @student.email then %>
	      <br />
	      <div class="feed"></div>
	      <% end %>
            </div>
            <div class="tab-pane" id="tab2">
              <h3>University</h3>
              <pre><%= @student.university %></pre>
              <h3>Major</h3>
              <pre><%= @student.major %></pre>
              <h3>History</h3>
              <pre><%= @student.history %></pre>
              <h3>Achivements</h3>
              <pre><%= @student.achievement %></pre>
              <h3>Interest Fields</h3>
              <pre><%= @student.interestedfield %></pre>
              <h3>Dreams</h3>
              <pre><%= @student.hope %></pre>
              <h3>Email</h3>
              <pre><%= @student.email %></pre>
	    </div>
          </div>
  </div>
  <div class="col-xs-2" style="background:#ffffff; height:400px;">
 </div>
</div>
  </body>
</html>
