<div class="panel panel-default">

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Startup Community</a>
            </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
             <span class ="welcome-back">User:
               <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Settings <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/user/index">profile</a></li>
                    <% if user_signed_in? %>
                    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                    <% end %>
                  </ul>
              </span>
            </ul>
         </div>
   </div>
 </nav>

<div class="container-fluid">
 </div>
 <div class="row">
  <div class="col-xs-2" style="background:#ffffff; ">
        <ul class="nav nav-tabs nav-stacked">
          <li class ="active"><h3>&nbsp;Search</strong></li>
          <li><%= link_to "Student", students_searchtop_path %></li>
          <li><%= link_to "Company", companies_searchtop_path %></li>
          <li><%= link_to "University", universities_searchtop_path %></li>
          <li><%= link_to "Job", jobdemands_searchtop_path %></li>
          <li><%= link_to "Scholarship", scholarships_searchtop_path %></li>
        </ul>
  </div>
  <div class="col-xs-10" style="background:#FFFFFF;">
    <%= yield %>
  </div>
 </div>

</body>
