<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @jobdemand.title %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @jobdemand.overview %>
</p>

<%= link_to 'Edit', edit_jobdemand_path(@jobdemand) %> |
<%= link_to 'Back', jobdemands_path %>
