<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @jobdemand.title %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @jobdemand.overview %>
</p>

#<p>
#  <strong>Responsibility:</strong>
#  <%= @jobdemand.responsibility %>
#</p>

<p>
  <strong>Competency:</strong>
  <%= @jobdemand.competency %>
</p>

<p>
  <strong>Education:</strong>
  <%= @jobdemand.education %>
</p>

<p>
  <strong>WorkExperience:</strong>
  <%= @jobdemand.workexperience %>
</p>

#<p>
#  <strong>Launguage:</strong>
#  <%= @jobdemand.launguage %>
#</p>

<p>
  <strong>Other:</strong>
  <%= @jobdemand.other %>
</p>

<%= link_to 'Edit', edit_jobdemand_path(@jobdemand) %> |
