<!DOCTYPE html>
<html>
<head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#">Startup Community</a>
   </div>
   <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
     <span class ="welcome-back">User:

      <a href="#" class="dropdown-toggle" data-toggle="dropdown"> User <span class="caret"></span></a>
       <ul class="dropdown-menu" role="menu">
        <li><%= link_to "Search Job", jobdemands_searchtop_path %></li>
        <li><a href="#">Language</a></li>
        <% if user_signed_in? %>
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <% end %>
       </ul>

     </span>
    </ul>
   </div>
 </div>
</nav>

<div class="container-fluid">
 </div>
 <div class="row">
  <div class="col-xs-2" style="background:#ffffff; height:400px;">
        <ul class="nav nav-tabs nav-stacked">
          <li class ="active"><h3>&nbsp;Search</strong></li>
          <li><a href="#tabU"> Student</a></li>
          <li><a href="#"> Company</a></li>
          <li><a href="#"> University</a></li>
          <li><%= link_to "Job", jobdemands_searchtop_path %></li>
          <li><a href="#"> Scholarship</a></li>
        </ul>
  </div>        
  <div class="col-xs-10" style="background:#FFFFFF; height:60px;">
  </div>
  <div class="col-xs-10" style="background:#FFFFFF; height:400px;">

  
  <nav>
    <ul id="n" class="clearfix">
      <li class="active"><a href="#tab1">Profile</a></li>
      <li><a href="#tab2">News and Events</a></li>
      <li><a href="#tab3">Admission</a></li>
      <li><a href="#tab4">Scholarship</a></li>
      <li><a href="#tab5">Study aboard</a></li>
    </ul>
  </nav>
  
  <div id="content" class="clearfix">
    <section id="tab1" class="tab-content active">
      <div id="userStats" class="clearfix">
        <div class="pic">
          <a href="#"><img src="http://www2.uet.vnu.edu.vn/coltech/sites/uet_logo.png" width="150" height="150" /></a>
        </div>
        
        <div class="data">
          <h1><%= @university.name %></h1>
          <h3><%= @university.location %></h3>
          <h4><a href="http://e.uet.vnu.edu.vn">http://e.uet.vnu.edu.vn</a></h4>
          <div class="socialMediaLinks">
            <a href="http://twitter.com" rel="me" target="_blank"><img src="img/twitter.png"/></a>
            <a href="http://facebook.com" rel="me" target="_blank"><img src="img/facebook.png" /></a>
          </div>
          <div class="sep"></div>
          <ul class="numbers clearfix">
            <li>Ranking: <strong><%= @university.rank %></strong></li>
            <li>Reputation: <strong><%= @university.reputation %></strong></li>
            <li class="nobrdr">Checked: <strong><%= @university.checked %></strong></li>
          </ul>
        </div>
      </div>
      
      <h1>About Us:</h1>
      <p><%= @university.introduction %></p>
    </section>
    
    <section id="tab2" class="tab-content hide">
      <div>
        <% @university.news_events.each do |news_event| %>
        <%= link_to news_event.title, university_news_event_path(news_event.university, news_event) %>
        <% end %>
        <br />
        <%= link_to 'New News&Event', new_university_news_event_path(@university) %><br />
      </div>
    </section>
    <section id="tab3" class="tab-content hide">
      <div>
        <% @university.admissions.each do |admission| %>
        <%= link_to admission.title, university_admission_path(admission.university, admission) %>
        <% end %>
        <br />
        <%= link_to 'New Admission', new_university_admission_path(@university) %><br />
      </div>
    </section>
    <section id="tab4" class="tab-content hide">
      <div>
        <% @university.scholarships.each do |scholarship| %>
        <%= link_to scholarship.title, university_scholarship_path(scholarship.university, scholarship) %>
        <% end %>
        <br />
        <%= link_to 'New Scholarship', new_university_scholarship_path(@university) %><br />
      </div>
    </section>
    <section id="tab5" class="tab-content hide">
      <div>
        <% @university.study_aboards.each do |study_aboard| %>
        <%= link_to study_aboard.title, university_study_aboard_path(study_aboard.university, study_aboard) %>
        <% end %>
        <br />
        <%= link_to 'New Study Aboard', new_university_study_aboard_path(@university) %><br />
      </div>
    </section>
    
    <section id="right">
      <div class="gcontent">
        <div class="head"><h1>Cooperation</h1></div>
        <div class="boxy">          
          <div class="cooperate-college">
            <a href="#"><img src="img/foursquare-badge.png" /><%= @university.cooperation %></a>
          </div>
          
          <span><a href="#">See all...</a></span>
        </div>
      </div>
      
      <div class="gcontent">
        <div class="head"><h1>Course available</h1></div>
        <div class="boxy">
          <div class="teacherlist clearfix">
            <% @university.courses.each do |course| %>
              <a href="#"><img src="img/friend_avatar_default.jpg" width="30" height="30" alt="course-image" /></a><span class="teacher-title"><a href="#"><%= link_to course.name, university_course_path(course.university, course) %></a></span>
            <% end %>
            <br />
            <%= link_to 'New Course', new_university_course_path(@university) %><br />
          </div>
          
          <span><a href="#">See all...</a></span>
        </div>
      </div>
      <div class="gcontent">
        <div class="head">
          <h1>Support contact</h1>
          <p><%= @university.contact %></p>
        </div>
      </div>
    </section>
  </div>
  <%= link_to 'Edit', edit_university_path(@university) %> |
  <%= link_to 'Back', universities_path %>
 
   
   
 </div>
 </div>
</div>
  </body>
</html>

