<!DOCTYPE html>
<html>
<head>
</head>

<%= render layout: 'shared/search_box' do %>

 <div class="col-xs-10" style="background:#FFFFFF; height:60px;">
            <h3><strong><%= @university.name %></strong></h3>
 </div>

 <div class="col-xs-10" style="background:#FFFFFF">

  <nav>
    <ul id="n" class="clearfix">
      <li class="active"><a href="#tab1">Profile</a></li>
      <li><a href="#tab2">News and Events</a></li>
      <li><a href="#tab3">Admission</a></li>
      <li><a href="#tab4">Scholarship</a></li>
<% 
=begin
%>
      <li><a href="#tab5">Study aboard</a></li>
<% 
=end
%>
    </ul>
  </nav>
  
  <div id="content" class="clearfix">
    <section id="tab1" class="tab-content active">
      <div id="userStats" class="clearfix">
        <div class="pic">
          <a href="#"><%= image_tag picture_university_path(@university), :width => '150' , :height => '150' %></a>
        </div>
        
        <div class="data">
          <h1><%= @university.name %></h1>
          <h3><%= @university.location %></h3>
          <h4><%= link_to @university.url, @university.url %></h4>
          <div class="socialMediaLinks">
            <a href="http://twitter.com" rel="me" target="_blank"><img src="http://a1503yi.ojiji.net/twitter.png"/></a>
            <a href="http://facebook.com" rel="me" target="_blank"><img src="http://a1503yi.ojiji.net/facebook.png" /></a>
          </div>
          <div class="sep"></div>
          <ul class="numbers clearfix">
            <li>Ranking: <strong><%= @university.rank %></strong></li>
            <li>Reputation: <strong><%= @university.reputation %></strong></li>
            <li class="nobrdr">Checked: <strong><%= @university.checked %></strong></li>
          </ul>
        </div>
      </div>
  
      <h1>About Us:</h1>
      <p><%= @university.introduction %></p>  

    </section>
    
    <section id="tab2" class="tab-content hide">

      <div>
       <% if current_user.email == @university.email then %>
       <br /> <%= link_to 'List of News&Event', university_news_events_path(@university) %><br />

       <% else %> 

        <table class="table table-list ">
         <thead>
          <tr>
           <th>TITLE</th>
           <th>POST DATE</th>
           <th>AUTHOR</th>
           <th>CONTENT</th>
           </tr>
           </thead>
          <% @university.news_events.each do |news_event| %>
          <tbody>
           <tr>
           <td><%= news_event.title %></td>
           <td><%= news_event.post_date %></td>
           <td><%= news_event.author %></td>
           <td><%= news_event.content %></td>
           </tr>
           </tbody>   
           <% end %>
          </table>
      <% end %>
       </div>
    </section>

    <section id="tab3" class="tab-content hide">

      <div>
       <% if current_user.email == @university.email then %>
       <br /> <%= link_to 'List of Admissions', university_admissions_path(@university) %><br />

       <% else %>

        <table class="table table-list ">
         <thead>
          <tr>
           <th>TITLE</th>
           <th>CONTENT</th>
           <th>REQUIREMENT</th>
           <th>END TIME</th>
           </tr>
           </thead>
          <% @university.admissions.each do |admission| %>
          <tbody>
           <tr>
           <td><%= admission.title %></td>
           <td><%= admission.content %></td>
           <td><%= admission.requirements %></td>
           <td><%= admission.end_time %></td>
           </tr>
           </tbody>
           <% end %>
          </table>
      <% end %>
       </div>
    </section>

    <section id="tab4" class="tab-content hide">

 <div>
       <% if current_user.email == @university.email then %>
       <br /> <%= link_to 'List of scholarships', university_scholarships_path(@university) %><br />

       <% else %>

        <table class="table table-list ">
         <thead>
          <tr>
           <th>TITLE</th>
           <th>SPONSOR</th>
           <th>AWARD</th>
           <th>REQUIREMENT</th>
           <th>END TIME</th>
           </tr>
           </thead>
          <% @university.scholarships.each do |scholarship| %>
          <tbody>
           <tr>
           <td><%= scholarship.title %></td>
           <td><%= scholarship.sponsor %></td>
           <td><%= scholarship.award %></td>
           <td><%= scholarship.requirements %></td>
           <td><%= scholarship.end_time %></td>
           </tr>
           </tbody>
           <% end %>
          </table>
      <% end %>
       </div>

    </section>

<% 
=begin
%>

spell miss, needs to modify table study-abroad not aboard

    <section id="tab5" class="tab-content hide">

 <div>
       <% if current_user.email == @university.email then %>
       <br /> <%= link_to 'List of Study-Abroads', university_study_abroads_path(@university) %><br />

       <% else %>

        <table class="table table-list ">
         <thead>
          <tr>
           <th>TITLE</th>
           <th>DESTINATION</th>
           <th>START</th>
           <th>DURATION</th>
           <th>SPONSOR</th>
           <th>REQUIREMENT</th>
           </tr>
           </thead>
          <% @university.study_abs.each do |admission| %>
          <tbody>
           <tr>
           <td><%= admission.title %></td>
           <td><%= admission.destination %></td>
           <td><%= admission.start_time %></td>
           <td><%= 
           <td><%= admission.sponsor %></td>
           <td><%= admission.requirements %></td>
           </tr>
           </tbody>
           <% end %>
          </table>
      <% end %>
       </div>

<% 
=end
%>


    </section>

    <section id="right">
      <div class="gcontent">
        <div class="head"><h1>Cooperation</h1></div>
        <div class="boxy">          
<% 
=begin
%>
          <div class="cooperate-college">
            <a href="https://foursquare.com/"><img src="http://a1503yi.ojiji.net/foursquare-badge.png" /><%= @university.cooperation %></a>
          </div>
          
          <span><a href="#">See all...</a></span>
        </div>
<%
=end
%>
      </div>

      <br/>
      
      <div class="gcontent">
        <div class="head"><h1>Course available</h1></div>
        <div class="boxy">
<%
=begin
%>
          <div class="teacherlist clearfix">
            <% @university.courses.each do |course| %>
              <a href="#"><img src="img/friend_avatar_default.jpg" width="30" height="30" alt="course-image" />
              </a><span class="teacher-title"><a href="#"><%= link_to course.name, university_course_path(course.university, course) %></a></span>
            <% end %>
            <br />
            <%= link_to 'New Course', new_university_course_path(@university) %><br />
          </div>
          
          <span><a href="#">See all...</a></span>
<%
=end
%>
        </div>
      </div>


      <div class="gcontent">
        <div class="head" style="margin-bottom : 0px" > <h1>Support contact</h1></div>
        <div class="body" style="background-color:#f5f5f5;" style="margin-top : 0px"  >
          <h6><%= simple_format(h @university.contact) %></h6>
        </div>
    </section>


    
  </div>
 
</div>

<% end %>

</html>
